:root {
  --main-color: #990000;
  --background: #1d1d1e;
  --secondary: #8c0005;
  --link: #f54254;
  --text-color: #fff;
  --secondary-text-color: #8f000e;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

#outset {  
  color: greenyellow;
  display: absolute;
  background-color: #121212;
  border-radius: 25px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border: 2px solid #f5425;
  font-size: 0.80em;
  margin: 10px 30%;
}

#elaina {
  position: relative;
  justify-content: center;
  background-image: url(https://media3.giphy.com/media/aSMX77Pw75FII/giphy.gif?cid=790b7611d12f7a163d0e094341d3189500c2a02c888b1b74&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  border-color: white;
  border-radius: 20px;
  border-style: 2px solid;
  filter: brightness(80%);
}

#nama {
  -webkit-text-stroke-color: black;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  color: var(--secondary-text-color);
}

body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}


/* footer */

.footer-bawah{
  text-align: center;
  padding: 20px 0;
  padding-top: 67px;
  color: white;
  font-family: 'sans-serif;';
  
}

  

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


.button {
  width: 100px;
  margin: 30px auto;
  position: relative;
  border: solid 1.5px black;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover .hoverBtn:before, .button:hover .hoverBtn:after {
  opacity: 1;
  -webkit-animation: open 0.4s;
  /* Chrome, Safari, Opera */
  animation: open 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.button:hover .hoverBtn-bottom:before, .button:hover .hoverBtn-bottom:after {
  opacity: 1;
  -webkit-animation: openB 0.4s;
  /* Chrome, Safari, Opera */
  animation: openB 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.button .hell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: azure;
  font-family: "Noto Sans JP";
  font-size: 13px;
  line-height: 23px;
}

.hoverBtn {
  width: 60px;
  height: 50px;
  position: absolute;
  top: -1px;
}
.hoverBtn:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2px var(--secondary);
  border-left: solid 2px var(--secondary);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: -40px;
}
.hoverBtn:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2px var(--secondary);
  border-right: solid 2px var(--secondary);
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0px;
}

.hoverBtn-bottom {
  width: 100px;
  height: 25px;
  position: absolute;
}
.hoverBtn-bottom:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 25px;
  border-bottom: solid 2px var(--secondary);
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
}
.hoverBtn-bottom:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 25px;
  border-bottom: solid 2px var(--secondary);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 0;
}

@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100px;
    height: 0;
  }
  100% {
    width: 100px;
    height: 25px;
  }
}
@keyframes openB {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }